others/
.venv/
.drivers/
__pycache__/
dist/
build/
*egg-info*

# Omitir cualquier archivo o carpeta de configuración
*copy*
*temp*
*test*
*private*
*prueba*
*claude*
*example*
*excel*

# Omitir archivos de log
*.log
*.ps1



*.toml
*yaml
*.in
setup.py
